#editor {
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
}

#editor button {
    margin: 0.25em;
    margin-trim: in-flow;
}

.section h3 {
    background-color: var(--button-bg, #666);
    /* Compensate for #editor.padding-left */
    margin-left: -0.5em;
    margin-right: -0.5em;

    padding-left: 0.5em;
}

.upload-section h3 {
    margin-top: 0;
}