.entity-description-fld .description-editor {
    flex: 1 0 auto;
    width: 100%;
    min-height: 600px;
}

.entity-description-fld .editor-actions {
    display: block;
    margin-bottom: 0.5em;
}

