.modal {
    position: absolute;
    z-index: var(--popup-pane-z-index, 10);

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.8);
}

.entity-description-fld .modal {
    display: none;
}
.entity-description-fld .modal.visible {
    display: block;
}

.modal .content {
    width: 800px;
    height: 90%;
    
    padding: 10px 18px 10px 10px;

    display: flex;
    flex-direction: column;

    margin: 20px auto;

    border-radius: 8px;

    background-color: rgba(100, 100, 100, 0.8);
}

.entity-description-fld .description-editor {
    flex: 1 0 auto;
    width: 100%;
    min-height: 600px;
}

.entity-description-fld .editor-actions {
    display: block;
    margin-bottom: 0.5em;
}

