.input-container {
    position: relative;
    margin: 35px auto 25px 0;
    width: var(--input-width, 300px);
}

.input-container.wide {
    width: 100%;
}
  
.input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}
  
.input-container .label {
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.input-container.generic .label {
    color: #ccc;
    transition: all 0.3s ease;
}
  
.input-container.generic input[type="text"]:focus ~ .label,
.input-container.generic input[type="text"].not-empty ~ .label {
    top: -20px;
    font-size: 16px;
    color: #333;
}
  
.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
}

.input-container.generic .underline {
    transform: scaleX(0);
    transition: all 0.3s ease;
}
  
.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"].not-empty ~ .underline {
    transform: scaleX(1);
}