.tab {
    display: none;
}
.tab.selected {
    display: block;
}

.tab-bar {
    margin-right: 0.5em;

    /*
    Gradient border
    */
    
    /* 
    border: 1px solid;

    border-image-source: linear-gradient(to right, var(--main-white, #ccc), #666);
    border-image-slice: 1;

    border-top: 0;
    border-left: 0;
    border-right: 0; 
    */

    border-bottom: 1px solid var(--main-white, #ccc);
}

.tab-header {
    font-weight: 500;
    font-size: 1.1em;
    padding: 0.2em;
    margin-right: 0.5em;

    display: inline-block;
}

.tab-header:hover {
    cursor: pointer;
    color: var(--selection-color);
}

.tab-header.selected {
    border-bottom: 3px solid var(--selection-color);
}