.tab {
    display: none;
}
.tab.selected {
    display: block;
}

.tab-bar {
    margin-right: 0.5em;
}

.tab-header {
    font-weight: 500;
    font-size: 1.1em;
    padding: 0.2em;
    margin-right: 0.5em;

    display: inline-block;
}

.tab-header:hover {
    cursor: pointer;
    color: var(--selection-color);
}

.tab-header.selected {
    border-bottom: 2px solid var(--selection-color);
}