.data-table table {
    border-collapse: collapse;
    border: 1px solid #aaa;
}

.data-table td, .data-table th{
    border: 1px solid #aaa;
}

.data-table .scroll {
    overflow: scroll;
    padding-right: 0.75em;
}