.resizable-horizontal-layout {
    display: flex;
    flex-direction: row;
}

.resizable-horizontal-layout .right-side-area {
    flex-grow: 1;
}

.resize-bar {
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;
  
    background-color: #bfbfbf;
  
    width: 5px;
    cursor: ew-resize;
}

.resize-bar:hover {
    background-color: var(--selection-color, #666);
}

